body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 0;
}

#letterContainer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s ease-out, opacity 0.5s ease-out; /* Added transition property */
}

#letter {
    margin-top: 20px;
    background-color: #FFD1DA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#letterGif {
    margin-top: 20px;
    width: 300px;
    height: auto;
    cursor: pointer;
    transition: transform 0.5s ease-in-out; /* Added transition property */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#yesButton {
    background-color: #4CAF50;
    color: white;
}

#noButton {
    background-color: #f44336;
    color: white;
}

#doneText {
    margin-top: 20px;
}

#questionText {
    font-size: 20px;
}
